@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Jost:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;500&family=Russo+One&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&family=Ysabeau+Infant:ital,wght@0,400;0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Jost:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;500&family=Russo+One&family=Sora:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&family=Ysabeau+Infant:ital,wght@0,400;0,600;1,600&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 list-style: none;
}
main{
    width: 100%;
    height: auto;
}
body{
    background-color: white;
}
.darked{
    background-color: #3c0040;
    color: white;
}
.darked #banner::before{
    background: linear-gradient(390deg, #3c0040 58%, #e6cbd7 100%);
    filter: blur(20px);
}
.darked .logotxt{
    color: beige;
}
.darked .nav-link{
    color: rgb(255, 234, 244);
}
.darked .nav-link:hover{
    color: rgb(184, 89, 135);
}
.darked .fixed .nav-link{
    color: #732538;
}
.darked .fixed .logotxt{
    color: rgb(77, 0, 47);
}
.darked .content-sub-title{
    color: #c3e3ff;
}
.darked .content-about{
    color: #cfc6c6;
}
.darked #project{
    background: #3c0041;
}
.darked .project-description{
    color: peachpuff;
}
.darked .intro_text svg text{
    stroke: rgb(255, 199, 218);
}
.darked .navbar-toggler{
    background-color: white;
}
.darked .contact-t a{
    color: rgb(255, 203, 218);
}
.darked .contact-t{
    color: rgb(255, 203, 218);
}
.darked .a-project1{
    color: beige;
}
.darked .p-link{
    background-color: beige;
}
.darked .social{
    background-color: beige;
}
.navbar{
    width: 100%;
    background: transparent !important;
}
#banner::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 322px;
    height: 308px;
    border-radius: 20%;
    background: rgb(255,255,255);
    background: linear-gradient(390deg, rgba(255,255,255,1) 58%, rgba(187,99,131,1) 100%);
    filter: blur(26px);
    margin-top: -2%;
    z-index: -1;
}
.logotxt{
    position: relative;
    top: 1em;
    left: 1.6em;
    font-family: "sora",sans-serif;
    letter-spacing: 0.1em;
}
.logo{
    margin-left: -3.8%;
}
.nav-item{
    position: relative;
}
.nav-item::after{
    position: absolute;
    content: "";
    width: 0%;
    left: 30%;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom: 8%;
}
.nav-item:hover::after{
    opacity: 1;
    width: 100%;
    left: 0;
}
.navbar-nav{
    position: relative;
    top: 0.4em;
    left: 20em;
    gap: 4%;
}
.nav-link{
    font-family: "sora",sans-serif;
    font-size: 18px;
    color: #743e4b;
}
.nav-link:hover{
    color: #732538;
}
.navbar-toggler{
    position: absolute;
    top: 2.2em;
    left: 2.6em;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    z-index: 9999;
    background: linear-gradient(42deg, rgba(255,255,255,1) 10%, rgba(152,106,117,1) 100%) !important;
    transition: 0.6s ease-in-out;
}
.fixed:hover{
    background: linear-gradient(42deg, rgba(180,114,135,1) 8%, rgba(255,214,200,1) 100%) !important;
}
.fixed:hover .logotxt{
    color: beige;
}
.fixed .logo{
    margin-top: 0.1%;
}
.fixed .nav-link:hover{
    color: rgb(165, 0, 124);
}
.fixed .navbar-nav{
    margin-top: 1%;
}
.dark{
    padding: 15px 35px;
    border-radius: 30px;
    border: 1px solid rgba(164,51,93,1);
    text-decoration: none !important;
    color: rgba(164,51,93,1);
    font-family: "sora",sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 0.6s ease-in-out;
}
 .dark:hover{
     background-color: rgba(164,51,93,1);
     color: white;
}

.intro-txt svg{
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: -1;
}

.intro_text svg text {
   font-family: "Russo One", sans-serif;
   text-transform: uppercase;
   stroke-width: 1.4;
   stroke: #2a1454;
   fill: transparent;
   font-size: 240px;
   display: inline-block;
   animation: pulse 6s linear infinite alternate , stroke 4s linear !important;
   opacity: 0.2;
} 


.contain-row{
    margin: 2% 0 12% 0;
}
.content-sub-title{
    font-family: "sora",sans-serif;
    font-size: 36px;
    color: #4a004d;
    font-weight: 700;
}
.content-title{
    font-size: 65px;
    font-family: "sora",sans-serif;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    line-height: 1.2;
    margin-bottom: 16px;
}
.content-about{
    max-width: 550px;
   width: 100%;
   font-size: 20px;
   font-family: "sora",sans-serif;
   font-weight: 300;
   color: #140C1C;
}


.profile-img{
    position: relative;
    top: 1em;
    
}
.profile{
    width: 100%;
    height: 446px;
    border: 1px solid plum;
    border-radius: 10px;
}

.cv{
   margin-top: 1%;
   padding: 17px 35px;
   border-radius: 30px;
   border: 1px solid rgba(164,51,93,1);
   text-decoration: none !important;
   color: rgba(164,51,93,1);
   font-family: "sora",sans-serif;
   font-size: 15px;
   text-transform: uppercase;
}
.cv:hover{
    background-color: rgba(164,51,93,1);
    color: white;
}
.social{
    list-style: none;
}
.links{
    gap: 10%;
    justify-content: space-between;
}
.social{
   margin-top: 20%;
   padding: 6px 11px;
   border: 1px solid rgba(164,51,93,1);
   border-radius: 50%;
   color: rgba(164,51,93,1);
}
.social:hover{
    color: white;
    background: rgba(164,51,93,1);
}

#edu{
    width: 100%;
    height: auto;
}
.my-edu{
    margin-top: 6px;
}
.edu-title{
    display: flex;
    gap: 4%;
    font-size: 30px;
    font-family: "sora",sans-serif;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-weight: 600; 
}
.edu-title i{
    padding-top: 0.4%;
}
.edu-txt{
    position: relative;
    letter-spacing: 0.1em;
    font-size: 30px;
    font-family: "sora",sans-serif;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-weight: 600; 
}
.edu-txt::after{
    position: absolute;
    content: "";
    width: 20%;
    left: 30%;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.edu-txt:hover::after{
    opacity: 1;
    width: 100%;
    left: 0;
}
.edu-details{
    margin-top: 36px;
}
.detail{
    border: 1px white;
    background-color: rgb(255, 244, 223);
    padding: 6% 6%;
    border-radius: 8px;
    transition: all 0.6s ease-in;
}
.detail:hover{
    color: white;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    border-radius: 8px;
    cursor: pointer;
}
.edu-year{
    font-size: 15px;
    font-family: "sora",sans-serif;
    color: rgb(184, 142, 164);
    font-weight: 600;
    margin-left: 2%;
    line-height: 28px;
}
.edu-name{
    font-size: 26px;
    font-family: "sora",sans-serif;
    color: rgb(134, 103, 119);
    margin-left: 2%;
    letter-spacing: 1px;
}
.edu-place{
    font-size: 16px;
    font-family: "sora",sans-serif;
    color: rgb(88, 71, 71);
    margin-left: 2%;
    letter-spacing: 1px;
}
.detail:hover .edu-year{
    color: white;
}
.detail:hover .edu-name{
    color: white;
}
.detail:hover .edu-place{
    color: white;
}
.course-name{
    font-size: 26px;
    font-family: "sora",sans-serif;
    color: rgb(134, 103, 119);
    margin-left: 2%;
    letter-spacing: 1px;
}
.course-place{
    font-size: 16px;
    font-family: "sora",sans-serif;
    color: rgb(88, 71, 71);
    margin-left: 2%;
    letter-spacing: 1px;
}
.detail1{
    border: 1px white;
    background-color: rgb(255, 244, 223);
    padding: 9.3% 6%;
    border-radius: 8px;
    transition: all 0.6s ease-in;
}
.detail1:hover{
    color: white;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    border-radius: 8px;
    cursor: pointer;
}

.detail1:hover .course-name{
    color: white;
}
.detail1:hover .course-place{
    color: white;
}

#skill{
    margin-top: 10em;
}
.skills-title{
    text-align: center;
}
.skill-txt{
    position: relative;
    letter-spacing: 0.1em;
    font-size: 38px;
    font-family: "sora",sans-serif;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-weight: 600; 
}
.skill-txt::after{
    position: absolute;
    content: "";
    width: 2%;
    left: 14.2em;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.skill-txt:hover::after{
    opacity: 1;
    width: 16%;
    left: 12.3em;
}
.front-end{
    position: relative;
    letter-spacing: 0.1em;
    font-size: 26px;
    font-family: "sora",sans-serif;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-weight: 600; 
}
.front-end::after{
    position: absolute;
    content: "";
    width: 2%;
    left: 20.6em;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.front-end:hover::after{
    opacity: 1;
    width: 22.6%;
    left: 16.6em;
}

.front-endcon{
   gap: 4%;
}
.front{
    margin-top: 10%;
}
.front-endsec{
    font-size: 28px;
}

.icon i{
    font-size: 38px;
    margin-left: 0.4em;
    padding: 8% 10%;
    color: red !important;
    cursor: pointer;
}
.front-endsec:hover .icon i{
    cursor: pointer;
}
.front-skill{
   opacity: 0;
   font-size: 14px;
   color: rgb(121, 1, 1);
   background: linear-gradient(42deg, #ffcbdc 8%, #d0e7ff 100%);
   padding: 6px 8px;
   transition: all 0.6s ease-in;
}
.icon:hover .front-skill{
   opacity: 1 !important;
}
.icon-img1{
    position: relative;
    left: 0.1em;
}
.icon-img3{
    position: relative;
    left: 0.1em;
}
.icon2 i{
    font-size: 38px;
    margin-left: 0.3em;
    padding: 8% 10%;
    color: #254bdc;
    cursor: pointer;
}
.front-endsec:hover .icon2 i{
    cursor: pointer;
}
.front-skill2{
    opacity: 0;
    font-size: 14px;
    color: #01135c;
    background: linear-gradient(42deg, #ffcbdc 8%, #d0e7ff 100%);
    padding: 6px 8px;
    transition: all 0.6s ease-in;
 }
 .icon2:hover .front-skill2{
    opacity: 1 !important;
 }
.icon3 i{
    font-size: 38px;
    padding: 8% 10%;
    color: #c66392;
    cursor: pointer;
}
.front-endsec:hover .icon3 i{
    cursor: pointer;
}
.front-skill3{
    opacity: 0;
    font-size: 14px;
    color: #c66392;
    background: linear-gradient(42deg, #ffcbdc 8%, #d0e7ff 100%);
    padding: 6px 8px;
    transition: all 0.6s ease-in;
 }
 .icon3:hover .front-skill3{
    opacity: 1 !important;
 }
.icon4 i{
    font-size: 38px;
    margin-left: 0.3em;
    padding: 8% 10%;
    color: #dab900;
    cursor: pointer;
}
.front-endsec:hover .icon4 i{
    cursor: pointer;
}
.front-skill4{
    opacity: 0;
    font-size: 14px;
    color: orange;
    background: linear-gradient(42deg, #ffcbdc 8%, #d0e7ff 100%);
    padding: 6px 8px;
    transition: all 0.6s ease-in;
 }
 .icon4:hover .front-skill4{
    opacity: 1 !important;
 }

.icon5 .icon-img1{
    margin-left: 0.3em;
    padding: 8% 10%;
    cursor: pointer;
}
.front-skill5:hover .icon5{
    cursor: pointer;
}
.front-skill5{
    opacity: 0;
    font-size: 14px;
    color: #0865a8;
    background: linear-gradient(42deg, #ffcbdc 8%, #d0e7ff 100%);
    padding: 6px 8px;
    transition: all 0.6s ease-in;
 }
 .icon5:hover .front-skill5{
    opacity: 1 !important;
 }

.icon6 i{
    font-size: 38px;
    margin-left: 0.3em;
    padding: 8% 10%;
    color: #7010ee;
    cursor: pointer;
}
.front-skill6:hover .icon6{
    cursor: pointer;
}
.front-skill6{
    opacity: 0;
    font-size: 14px;
    color: #7010ee;
    background: linear-gradient(42deg, #ffcbdc 8%, #d0e7ff 100%);
    padding: 6px 8px;
    transition: all 0.6s ease-in;
 }
 .icon6:hover .front-skill6{
    opacity: 1 !important;
 }

.icon7 i{
    font-size: 38px;
    margin-left: 0.3em;
    padding: 8% 10%;
    color: #1f7196;
    cursor: pointer;
}
.front-skill7:hover .icon7{
    cursor: pointer;
}
.front-skill7{
    opacity: 0;
    font-size: 14px;
    color: #1f7196;
    background: linear-gradient(42deg, #ffcbdc 8%, #d0e7ff 100%);
    padding: 6px 8px;
    transition: all 0.6s ease-in;
 }
 .icon7:hover .front-skill7{
    opacity: 1 !important;
 }

.icon8 i{
    font-size: 38px;
    margin-left: 0.3em;
    padding: 8% 10%;
    color: #8e003a;
    cursor: pointer;
}
.front-skill8:hover .icon8{
    cursor: pointer;
}
.front-skill8{
    opacity: 0;
    font-size: 14px;
    color: #8e003a;
    background: linear-gradient(42deg, #ffcbdc 8%, #d0e7ff 100%);
    padding: 6px 8px;
    transition: all 0.6s ease-in;
 }
 .icon8:hover .front-skill8{
    opacity: 1 !important;
 }
.icon9{
    margin-left: 0.3em;
    cursor: pointer;
}
.front-skill9:hover .icon9{
    cursor: pointer;
}
.front-skill9{
    opacity: 0;
    font-size: 14px;
    font-family: "sora",sans-serif;
    color: #945a8c;
    background: linear-gradient(42deg, #ffcbdc 8%, #d0e7ff 100%);
    padding: 6px 10px;
    transition: all 0.6s ease-in;
 }
 .icon9:hover .front-skill9{
    opacity: 1 !important;
 }
.skill-cat1{
    margin-top: 6%;
}
.back-title{
    position: relative;
    letter-spacing: 0.1em;
    font-size: 26px;
    font-family: "sora",sans-serif;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-weight: 600; 
}
.back-title::after{
    position: absolute;
    content: "";
    width: 2%;
    left: 9.6em;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.back-title:hover::after{
    opacity: 1;
    width: 44.6%;
    left: 5.8em;
}
.backend-skill-sec{
    gap: 10%;
}
.front-e-s10{
    padding-left: 31%;
}
.back-endsec{
     font-size: 28px;
}
 
 .back-icon1 i{
    font-size: 38px;
    margin-left: 0.2em;
    padding: 8% 0;
    color: #7477ae;
    cursor: pointer;
}
.back-skill1:hover .back-icon1{
    cursor: pointer;
}
.back-skill1{
    opacity: 0;
    font-size: 14px;
    color: #7477ae;
    background: linear-gradient(42deg, #ffcbdc 8%, #d0e7ff 100%);
    padding: 6px 8px;
    transition: all 0.6s ease-in;
 }
 .back-icon1:hover .back-skill1{
    opacity: 1 !important;
 }

 .back-icon2 i{
    font-size: 38px;
    margin-left: 0.2em;
    padding: 8% 0;
    color: #f72c1e;
    cursor: pointer;
}
.back-skill2:hover .back-icon2{
    cursor: pointer;
}
.back-skill2{
    opacity: 0;
    font-size: 14px;
    color: #f72c1e;
    background: linear-gradient(42deg, #ffcbdc 8%, #d0e7ff 100%);
    padding: 6px 8px;
    transition: all 0.6s ease-in;
 }
 .back-icon2:hover .back-skill2{
    opacity: 1 !important;
 }
.database{
    position: relative;
    letter-spacing: 0.1em;
    font-size: 26px;
    font-family: "sora",sans-serif;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-weight: 600; 
}
.database::after{
    position: absolute;
    content: "";
    width: 2%;
    left: 10em;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.database:hover::after{
    opacity: 1;
    width: 30.6%;
    left: 7.2em;
} 
.data-icon{
    padding: 8% 0;
    cursor: pointer;
}
.icon-img5{
    margin-left: -2%;
}
.back-skill3:hover .data-icon{
    cursor: pointer;
}
.back-skill3{
    opacity: 0;
    font-size: 14px;
    color: #02708B;
    background: linear-gradient(42deg, #ffcbdc 8%, #d0e7ff 100%);
    padding: 6px 8px;
    margin: 0 15.8em;
    transition: all 0.6s ease-in;
 }
 .data-icon:hover .back-skill3{
    opacity: 1 !important;
 }
 .backend-skill{
    margin-top: 10%;
    font-size: 16px;
    font-family: "sora",sans-serif;
    color: rgb(88, 71, 71);
    cursor: pointer;
}
.tool-end{
    position: relative;
    letter-spacing: 0.1em;
    font-size: 26px;
    font-family: "sora",sans-serif;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-weight: 600; 
}
.tool-end::after{
    position: absolute;
    content: "";
    width: 2%;
    left: 20.4em;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.tool-end:hover::after{
    opacity: 1;
    width: 34%;
    left: 14.2em;
}
.tool-icon{
    padding-left: 44%;
    gap: 10%;
}
.tool-icon1 i{
    font-size: 38px;
    margin-left: 0.1em;
    padding: 8% 0;
    color: #e94e30;
    cursor: pointer;
}
.back-skill4:hover .tool-icon1{
    cursor: pointer;
}
.back-skill4{
    opacity: 0;
    font-size: 14px;
    color: #e94e30;
    background: linear-gradient(42deg, #ffcbdc 8%, #d0e7ff 100%);
    padding: 6px 8px;
    transition: all 0.6s ease-in;
 }
 .tool-icon1:hover .back-skill4{
    opacity: 1 !important;
 }
 .tool-icon2 i{
    font-size: 38px;
    padding: 8% 0;
    color: #7b61f8;
    cursor: pointer;
}
.back-skill5:hover .tool-icon2{
    cursor: pointer;
}
.back-skill5{
    opacity: 0;
    font-size: 14px;
    color: #7b61f8;
    background: linear-gradient(42deg, #ffcbdc 8%, #d0e7ff 100%);
    padding: 6px 8px;
    transition: all 0.6s ease-in;
 }
 .tool-icon2:hover .back-skill5{
    opacity: 1 !important;
 }
 #project{
    width: 100%;
    height: auto;
    background-color: bisque;
    margin-top: 4%;
 }
.Project-text{
  position: relative;
  margin-top: 3%;
  font-size: 30px;
  font-family: "sora",sans-serif;
  background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text;
  font-weight: 600;
}
.Project-text::after{
    position: absolute;
    content: "";
    width: 2%;
    left: 18em;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.Project-text:hover::after{
    opacity: 1;
    width: 16.6%;
    left: 15.5em;
}
.project-pics{
    width: 100%;
    height: 56vh;
    margin-top: 10%;
    border-radius: 10%;
}
.project-t{
    position: relative;
    margin-top: 6%;
    font-size: 28px;
    font-family: "sora",sans-serif;
    font-weight: 700;
    background: linear-gradient(58deg, rgba(255,250,172,1) 0%, rgba(125,0,99,1) 100%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    cursor: pointer;
}
.project-t::after{
    position: absolute;
    content: "";
    width: 0;
    left: 9.3em;
    height: 6%;
    background: linear-gradient(58deg, rgba(221,203,133,1) 0%, rgba(149,87,150,1) 100%);
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.project-t:hover::after{
    opacity: 1;
    width: 26%;
    left: 7.3em;
}
.project-t1{
    position: relative;
    margin-top: 6%;
    font-size: 28px;
    font-family: "sora",sans-serif;
    font-weight: 700;
    background: linear-gradient(58deg, rgba(255,250,172,1) 0%, rgba(125,0,99,1) 100%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    cursor: pointer;
}
.project-t1::after{
    position: absolute;
    content: "";
    width: 0;
    left: 9.3em;
    height: 6%;
    background: linear-gradient(58deg, rgba(221,203,133,1) 0%, rgba(149,87,150,1) 100%);
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.project-t1:hover::after{
    opacity: 1;
    width: 40%;
    left: 6em;
}
.a-project1{
    position: relative;
    font-size: 17px;
    font-family: "sora",sans-serif;
    color: #961f61;
   font-weight: 400;
   transition: all .6s ease;
}
.a-project1::after{
    content: "";
    position: absolute;
    width: 10%;
    left: 2%;
    height: 6%;
    background: linear-gradient(58deg, rgba(151,166,113,1) 0%, rgba(139,113,139,1) 100%);
    transition: .6s ease-in-out;
    bottom: -18%;
}
.a-project1:hover::after{
    opacity: 1;
    width: 100%;
    left: 2%;
}
.project-des{
    margin-top: 3%;
}
.project-description{
    font-size: 15px;
    font-family: "sora",sans-serif;
    font-weight: 300;
    color: #731758;
}
.project-link{
    margin: 6% 39%;
}
.p-link{
    border: 2px solid rgba(164, 51, 93, 1);
    padding: 6px;
    color: rgba(164, 51, 93, 1);
}
.plink-redirect{
    font-family: "sora",sans-serif;
    font-size: 15.5px;
    text-decoration: none;
    color: rgba(164, 51, 93, 1);
}
.p-link:hover{
    background-color: rgba(164, 51, 93, 1);
}
.p-link:hover .plink-redirect{
    color: whitesmoke;
}
.project3{
    margin-left: 25%;
}
#my-contacts{
    position: static;
    margin-top: 6em;
}
.contact-text{
    position: relative;
    text-align: center;
    margin-top: 10%;
  font-size: 30px;
  font-family: "sora",sans-serif;
  background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text;
  font-weight: 600;
}
.contact-text::after{
    position: absolute;
    content: "";
    width: 2%;
    left: 21.8em;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.contact-text:hover::after{
    opacity: 1;
    width: 29%;
    left: 16em;
}
.contact-c{
    margin: 8% 10%;
    gap: 6%;
}
.map{
    width: 100%;
    height: 20vh;
}
.contact-s{
    margin-top: 4%;
}
.contact-box1{
    gap: 10%;
}
.contact-icon{
   padding: 6px 11px;
   font-size: 18px;
   border: 1px solid rgba(164,51,93,1);
   background: rgba(164,51,93,1);
   border-radius: 50%;
   color: white;
}
.contact-icon1{
    margin-bottom: 6px;
    padding: 6px 13px;
   font-size: 18px;
   border: 1px solid rgba(164,51,93,1);
   background: rgba(164,51,93,1);
   border-radius: 50%;
   color: white;
}
.contact-t{
    font-size: 16px;
    font-family: "sora",sans-serif;
    color: rgb(134, 104, 133);
}
.conemail a{
    text-decoration: none;
    color: rgb(134, 104, 133);
}
.conphn a{
    text-decoration: none;
    color: rgb(134, 104, 133);
}
.conlinkedin a{
    text-decoration: none;
    color: rgb(134, 104, 133);
}
.congit a{
    text-decoration: none;
    color: rgb(134, 104, 133);
}
.conaddress{
    line-height: 20px;
}
footer{
    width: 100%;
    height: auto;
    background: linear-gradient(16deg, rgba(241,197,221,1) 10%, rgba(140,113,128,1) 100%);
    margin-top: 10%;
}
.foot-logo{
    position: relative;
}
.footlogotxt{
    font-family: "sora",sans-serif;
    letter-spacing: 0.1em;
    color: black;
}
.foot-list{
    position: relative;
    display: flex;
    list-style: none;
    gap: 8%;
    margin-top: 2%;
    left: 31%;
}
.foot-link{
    color: white;
    font-size: 18px;
    font-family: "sora",sans-serif;
    text-decoration: none;
}
.foot-sec-2{
    height: 6vh;
}
.foot-text2{
    font-family: "sora",sans-serif;
    font-size: 15px;
    color: #664049;
}
#totop{
    padding: 8px 14px;
    border-radius: 50%;
    background: linear-gradient(42deg, rgba(255,255,255,1) 10%, rgba(152,106,117,1) 100%);
    color: #743e4b;
    font-size: 26px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    right: 28px !important;
    bottom: 28px;
    z-index: 9999;
}

section,.hidden{
    transform: translateX(-100%);
    transition: 4s;
}
.show-animation{
    transform: translateX(0);
}
@keyframes pulse{
    0%{
        transform: translate(-50% -50%);
        transform:  scale(1);
    }
    50%{
        transform: translate(-50% -50%);
        transform: scale(1.04);
    }
    100%{
        transform: translate(-50% -50%);
        transform: scale(1);
    }
}

@keyframes stroke{
    0%{
        stroke-dashoffset: 26%;
        stroke-dasharray: 0 50%;
        stroke-width: 1;
    }
    100%{
        stroke-dashoffset: 100%;
        stroke-dasharray: 100% 0;
        stroke-width: 1; 
    }
}


@media only screen and (max-width:1290px){
    .logotxt{
        left: 4.6em;
    }
}
@media only screen
and (max-width:1040px)
{
    .logo{
        margin-left: 5.6%;
        margin-top: 1em;
    }
    .fixed .logo{
        margin-top: 1.4em;
    }
    .logotxt{
        top: 1.8em;
        left: 5.8em;
    }
    .content-box{
        position: relative;
    }
    .profile-img{
        top: 18%;
    }
    .skill-txt::after{
        left: 12.6em;
    }
    .skill-txt:hover::after{
        width: 25%;
        left: 10em;
    }
    .front-end::after{
        left: 18.2em;
    }
    .front-end:hover::after{
        width: 29%;
        left: 14em;
    }
    .icon-img2{
        margin-top: .4%;
        left: 6.4em;
    }
    .icon-img4{
        left: 26.6em;
        margin-top: -.6%;
    }
    .front-endsec:hover .icon5{
        padding: 8% 10%;
        margin-right: 1.4em;
    }
    .front-endsec:hover .icon9{
        padding: 8% 10%;
        margin-right:1em;
    }
    .icon-img6{
        margin-top: -.2%;
        left: 15.6em;
    }
    .back-endsec:hover .icon5{
        padding: 10% 10%;
        margin-right: .2em;
    }
    .tool-end::after{
        left: 18.2em;
    }
    .tool-end:hover::after{
        width: 42%;
        left: 12em;
    }
    .Project-text::after{
        left: 16.2em;
    }
    .Project-text:hover::after{
        width: 21.2%;
        left: 13.4em;
    }
    .contact-text::after{
        left: 16.2em;
    }
    .contact-text:hover::after{
        width: 42%;
        left: 19.6em;
    }
    #my-contacts{
        margin-top: 78em !important;
    }
    .contact-c{
        margin: 8% 8%;
    }
    .foot-logo{
        padding-left: 30em;
    }
    .footlogotxt{
        top: 2em;
        left: 22.8em;
    }
}
@media only screen and (max-width:991px){
    .navbar-nav{
        width: 112%;
        height: auto;
        background-color: rgb(211, 184, 197);
        position: relative;
        left: -3em;
        padding-left: 6%;
        right: 0;
        z-index: 9999;
    }
    .fixed nav{
        height: 20vh;
    }
    .fixed .navbar-nav{
        background: transparent; 
        padding-left: 2%;
    }
    .navbar-toggler{
        top: 1.4em;
    }
    .fixed .navbar-toggler{
        top: 1.4em;
    }
    .logotxt{
        top: 1.2em;
        left: 2em;
    }
    .logo{
       width: 60%;
       position: relative;
       left: 18em;
    }
    .logo-img{
        width: 16%;
    }
    .contain-row {
        position: relative;
     }
    .profile-img{
      margin-top: -20%;
    }
    .cont-links{
        flex-wrap: wrap;
    }
    .links{
        position: relative;
        margin-top: 4%;
        left: -6%;
    }
    .edu-s{
        margin-right: -2%;
        padding: 4% 6%;
    }
    .course-selection{
        margin-top: 6%;
    }
    .edu-s1{
        margin-right: -2%;
        padding: 6% 6%;
    }
    #skill{
        margin-top: 92em;
    }
    .skill-txt::after{
        left: 11.2em;
    }
    .skill-txt:hover::after{
        width: 22.5%;
        left: 9em;
    }
    .front-end::after{
        left: 16.2em;
    }
    .front-end:hover::after{
        width: 29%;
        left: 12em;
    }
    .front-endsec:hover .icon5{
        margin-right: 0.6em;
    }
    .icon9{
        margin-left: 1em;
    }
    .front-endsec:hover .icon9{
        margin-left: 1em;
        margin-right: -0.1em;
    }
    .icon-img5{
        margin-left: -1em;
    }
    .back-endsec:hover .icon5{
        margin-left: -1.2em;
       padding-left: 1.2em;
    }
    .backend-txt2{
       margin-left: -2em;
    }
    .tool-end::after{
        left: 16.2em;
    }
    .tool-end:hover::after{
        width: 42%;
        left: 10em;
    }
    .Project-text::after{
        left: 14.2em;
    }
    .Project-text:hover::after{
        width: 21.2%;
        left: 11.6em;
    }
    #my-contacts{
        position: relative;
        margin-top: 52em !important;
    }
    .contact-text::after{
        left: 14.2em;
    }
    .contact-text:hover::after{
        width: 42%;
        left: 8.6em;
    }
    .contact-c{
        flex-wrap: wrap;
    }
    .contact-s{
        margin-top: 18em;
    }
    .foot-logo{
        position: relative;
        padding-left: 22em;
    }
    .footlogotxt{
        top: 2em;
        left: 17.3em;
    }
    .foot-list{
        margin-top: 2%;
        left: 22%;
    }
    .foot-text2{
       padding-left: 8%;
    }
}
@media only screen and (max-width:921px){
    #my-contacts{
        margin-top: 78em !important;
    }
}
@media only screen and (max-width:782px){

    .profile-img{
        margin-top: 10%;
    }
    .my-edu{
        margin-top: 14%;
    }
    .skill-txt::after{
        left: 9.6em;
    }
    .skill-txt:hover::after{
        width: 24.5%;
        left: 7.6em;
    }
    .front-end::after{
        left: 14.2em;
    }
    .front-end:hover::after{
        width: 32%;
        left: 10em;
    }
     .tool-end::after{
        left: 13.2em;
    }
    .tool-end:hover::after{
        width: 48%;
        left: 7.8em;
    }
    .Project-text::after{
        left: 12.2em;
    }
    .Project-text:hover::after{
        width: 25.2%;
        left: 9.6em;
    }
    .contact-text::after{
        left: 12.2em;
    }
    .contact-text:hover::after{
        width: 48%;
        left: 6.6em;
    }
     .footlogotxt{
        top: 1.7em;
    }
}
@media only screen and (max-width:580px){
    .navbar-nav{
        margin-top: 2%;
        left: -1em;
       
    }
    .logotxt{
       top: 1em;
        left: 1.9em;
    }
    .logo{
       left: 12em;
    }
   .content-box{
    margin-top: 1%;
   }
   .content-about{
    margin-top: 82%;
   }
   .contain-row {
      position: relative;
   }
   .profile-img{
     position: absolute;
     top: 30%;
     left: 10%;
   }
   .profile{
     height: 340px;
   }
   .links{
      margin-left: 8%;
    }
   .social{
     margin-top: -0.4em;
    }
    .skill-txt::after{
        left: 6.6em;
    }
    .skill-txt:hover::after{
        width: 36.5%;
        left: 4.6em;
    }
    .front-end::after{
        left: 10.2em;
    }
    .front-end:hover::after{
        width: 50%;
        left: 5.2em;
    }
    .front-endsec{
        padding-left: 28%;
    }
    .front-e-s{
        padding-left: 36%;
    }
    .icon2 i{
        padding: 8% 10%;
    }
    .front-endsec:hover .icon2 i{
        padding: 8% 10%;
    }
    .icon i{
        padding: 8% 10%;
    }
    .front-endsec:hover .icon i{
        padding: 8% 10%;
    }
    .front-e-s1{
        padding-left: 32%;
    }
    .front-e-s2{
        padding-left: 27%;
    }
    .front-e-s3{
        padding-left: 32%;
    }
    .front-e-s4{
        padding-left: 30%;
    }
    .front-e-s5{
        padding-left: 31%;
    }
    .front-endsec:hover .icon5{
        margin-right: 7.7em;
    }
    .front-e-s6{
        padding-left: 14%;
    }
    .icon6 i{
        padding: 8% 8%;
    }
    .front-endsec:hover .icon6 i{
        padding: 8% 8%;
    }
    .front-e-s7{
        padding-left: 24%;
    }
    .front-e-s9{
        padding-left: 24%;
    }
    .front-endsec:hover .icon9{
        margin-right: 7.6em;
    }
    .front-skill1{
        padding-left: 6%;
    }
    .front-skill2{
        padding-left: 8%;
    }
    .front-skill3{
        padding-left: 4%;
    }
    .front-skill4{
        padding-left: 6%;
    }
    .front-skill5{
        padding-left: 14%;
    }
    .front-skill6{
        padding-left: 12%;
    }
    .front-e-s10{
        padding-left: 16%;
    }
    .back-skill1{
        margin-left: -1%;
    }
    .front-e-s11{
        padding-left: 6%;
    }
    .front-e-s12{
        padding-left: 10%;
    }
    .back-endsec:hover .icon5{
        margin-right: 7.6em;
    }
    .tool-end::after{
        left: 10.2em;
    }
    .tool-end:hover::after{
        width: 68%;
        left: 3.6em;
    }
    .front-e-s13{
        padding-left: 20%;
    }
    .front-e-s14{
        padding-left: 8%;
    }
    .back-skill2{
        margin-left: -2%;
    }
    .Project-text::after{
        left: 8.8em;
    }
    .Project-text:hover::after{
        width: 36.2%;
        left: 6em;
    }
    .Project-table{
        width: 96%;
        margin-top: 6%;
    }
    .projectd1{
        font-size: 20px;
    }
    .contact-text::after{
        left:  8.8em;
    }
    .contact-text:hover::after{
        width: 68.2%;
        left: 3em;
    }
    .g-map{
        width: 390px;
    }
    .foot-list{
        margin-top: 2%;
        left: 0;
    }
    .foot-logoimg{
        width: 16%;
    }
    .foot-logo{
        padding-left: 14em;
    }
    .footlogotxt{
        left: 12.2em;
        top: 1.9em;
    }
}

@media only screen and (min-width:400px)
and (max-width:460px) {

    .navbar-toggler{
        left: 0.6em;
    }
    .logotxt{
        left: 1.9em;
        top: 1.2em;
     }
     .logo{
        width: 60%;
        left: 9em;
     }
     .logo-img{
        width: 26%;
     }
    .content-about{
     margin-top: 96%;
    }
    .profile-img{
        top: 34%;
    }
    .links{
        margin-left: 0;
    }
    .social{
        margin-top: -0.1em;
    }
    #skill{
        margin-top: 82em;
    }
    .skill-txt::after{
        left: 5.2em;
    }
    .skill-txt:hover::after{
        width: 44%;
        left: 3em;
    }
    .front-end::after{
        left: 7.6em;
    }
    .front-end:hover::after{
        width: 62%;
        left: 3em;
    }
    .front-endsec:hover .icon5{
        margin-right: 5em;
    }
    .front-endsec:hover .icon9{
        margin-right: 5em;
    }
    .back-endsec:hover .icon5{
      
        margin-right: 5.7em;
    }
    .tool-end::after{
        left: 7.8em;
    }
    .tool-end:hover::after{
        width: 88%;
        left: .8em;
    }
    .Project-text::after{
        left: 6.8em;
    }
    .Project-text:hover::after{
        width: 42.8%;
        left: 4em;
    }
    .contact-text::after{
        left:  6.8em;
    }
    .contact-text:hover::after{
        width: 88.2%;
        left: 1em;
    }
    .g-map{
        width: 320px;
    }
    .foot-logoimg{
        width: 20%;
    }
    .foot-logo{
        padding-left: 10em;
    }
    .footlogotxt{
        left: 9.4em;
    }
    .foot-list{
        gap: 4%;
        left: -1em;
    }
    .foot-link{
       font-size: 16px;
    }
}
@media only screen
and (max-width:394px){
    .logotxt{
        top: 1em;
    }
    .logo-img{
        width: 24%;
    }
     .logo{
        width: 58%;
        left: 7em;
    }
    .content-title{
        font-size: 52px;
    }
    .content-about{
        margin-top: 128%;
    }
    .skill-txt::after{
        left: 4.6em;
    }
    .skill-txt:hover::after{
        width: 46%;
        left: 2.6em;
    }
    .front-end::after{
        left: 7em;
    }
    .front-end:hover::after{
        width: 66%;
        left: 2.4em;
    }
    .front-endsec:hover .icon5{
        margin-right: 4.7em;
    }
    .front-endsec:hover .icon9{
        margin-right: 4.2em;
    }
    .back-endsec:hover .icon5{
        margin-right: 5em;
    }
    .Project-text::after{
        left: 6em;
    }
    .Project-text:hover::after{
        width: 50.8%;
        left: 3em;
    }
    .g-map{
        width: 280px;
    }
    .foot-list{
        gap: 2%;
        margin-top: 4%;
        left: -1em;
        flex-wrap: wrap;
    }
    .foot-logo{
        padding-left: 7em;
    }
    .footlogotxt{
        margin-top: -.3em;
        left: 7em;
    }
}
@media only screen and (min-width:320px)
and (max-width:366px){
    .logo-img{
       width: 32%;
    }
    .content-title{
        font-size: 50px;
    }
    .profile-img{
        margin-top: -6%;
       left: 1%;
    }
    .content-about{
        width: 98%;
        margin-top: 156%;
    }
    #skill{
        margin-top: 90em;
    }
    .front-endsec:hover .icon5{
        margin-right: 3em;
    }
    .front-endsec:hover .icon9{
        margin-right: 3em;
    }
    .back-endsec:hover .icon5{
        margin-right: 4em;
    }
    .Project-table{
        left: 2%;
    }
    .g-map{
        width: 240px;
    }
    .contact-s{
        margin-left: -10%;
    }
    .contact-box1{
        column-gap: 4%;
    }
    .foot-logoimg{
        width: 22%;
     }
    .foot-logo{
        padding-left: 5em;
    }
    .footlogotxt{
        left: 5.6em;
    }
    .foot-list{
       flex-wrap: wrap;
    }
    .footlink{
        margin-left: 2em;
    }
    .footlink1{
        margin-left: 4em;
    }
}
