@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Jost:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;500&family=Russo+One&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&family=Ysabeau+Infant:ital,wght@0,400;0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Jost:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;500&family=Russo+One&family=Sora:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&family=Ysabeau+Infant:ital,wght@0,400;0,600;1,600&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

main{
    width: 100%;
    height: auto;
}
.navbar{
    width: 100%;
    background: transparent !important;
}
#banner::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 322px;
    height: 308px;
    border-radius: 20%;
    background: rgb(255,255,255);
    background: linear-gradient(390deg, rgba(255,255,255,1) 58%, rgba(187,99,131,1) 100%);
    filter: blur(26px);
    margin-top: -2%;
    z-index: -1;
}
.logotxt{
    position: absolute;
    top: 2em;
    left: 5.6em;
    letter-spacing: 0.3em;
}
.logo{
    margin-left: -3.8%;
}
.logo-img{
    width: 12%;
}
.nav-item{
    position: relative;
}
.nav-item::after{
    position: absolute;
    content: "";
    width: 0%;
    left: 30%;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom: 8%;
}
.nav-item:hover::after{
    opacity: 1;
    width: 100%;
    left: 0;
}
.navbar-nav{
    position: relative;
    left: -5em;
    gap: 4%;
}
.nav-link{
    font-family: "sora",sans-serif;
    font-size: 18px;
    color: #743e4b;
}
.nav-link:hover{
    color: #732538;
}
.navbar-toggler{
    position: absolute;
    top: 2.2em;
    left: 2.6em;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    z-index: 9999;
    background: linear-gradient(42deg, rgba(255,255,255,1) 10%, rgba(152,106,117,1) 100%) !important;
    transition: 0.6s ease-in-out;
}
.fixed .logo{
    margin-top: 0.8%;
}
.fixed .navbar-nav{
    margin-top: 6%;
}

.intro-text svg{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 56%;
   left: 46%;
   display: flex;
   transform: translate(-50%, -50%) scale(1);
   align-items: center;
   justify-content: center;
   z-index: -1;
   animation: 3s pulsate infinite alternate ease-in-out;
}

.intro_text svg text {
   font-family: "Russo One", sans-serif;
   text-transform: uppercase;
   stroke-width: 1.4;
   stroke: #2a1454;
   fill: transparent;
   font-size: 240px;
   display: inline-block;
   animation: stroke 4s;
   opacity: 0.2;
}    

.content-box{
    margin-top: -36%;
}
.content-sub-title{
    font-family: "sora",sans-serif;
    font-size: 36px;
    color: #4a004d;
    font-weight: 700;
}
.content-title{
    font-size: 65px;
    font-family: "sora",sans-serif;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    line-height: 1.2;
    margin-bottom: 16px;
}
.content-about{
    max-width: 550px;
   width: 100%;
   font-size: 20px;
   font-family: "sora",sans-serif;
   font-weight: 300;
   color: #140C1C;
}


.profile-img{
    position: absolute;
    top: 28%;
    left: 60%;
}
.profile{
    width: 100%;
    height: 410px;
    border: 1px solid plum;
    border-radius: 10px;
}

.cv{
    margin-top: 1%;
   padding: 17px 35px;
   border-radius: 30px;
   border: 1px solid rgba(164,51,93,1);
   text-decoration: none !important;
   color: rgba(164,51,93,1);
   font-family: "sora",sans-serif;
   font-size: 15px;
   text-transform: uppercase;
}
.cv:hover{
    background-color: rgba(164,51,93,1);
    color: white;
}
.social{
    list-style: none;
}
.links{
    gap: 10%;
    justify-content: space-between;
}
.social{
   margin-top: 20%;
   padding: 6px 11px;
   border: 1px solid rgba(164,51,93,1);
   border-radius: 50%;
   color: rgba(164,51,93,1);
}
.social:hover{
    color: white;
    background: rgba(164,51,93,1);
}


.my-edu{
    position: absolute;
    width: 88%;
    margin-top: 6%;
    left: 12%;
}
.edu-title{
    display: flex;
    gap: 4%;
    font-size: 30px;
    font-family: "sora",sans-serif;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-weight: 600; 
}
.edu-title i{
    padding-top: 0.4%;
}
.edu-txt{
    position: relative;
    letter-spacing: 0.1em;
    font-size: 30px;
    font-family: "sora",sans-serif;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-weight: 600; 
}
.edu-txt::after{
    position: absolute;
    content: "";
    width: 20%;
    left: 30%;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.edu-txt:hover::after{
    opacity: 1;
    width: 100%;
    left: 0;
}
.edu-year{
    font-size: 15px;
    font-family: "sora",sans-serif;
    color: rgb(184, 142, 164);
    font-weight: 600;
    margin-left: 2%;
    line-height: 28px;
}
.edu-name{
    font-size: 26px;
    font-family: "sora",sans-serif;
    color: rgb(134, 103, 119);
    margin-left: 2%;
    letter-spacing: 1px;
}
.edu-place{
    font-size: 16px;
    font-family: "sora",sans-serif;
    color: rgb(88, 71, 71);
    margin-left: 2%;
    letter-spacing: 1px;
}
.course-name{
    font-size: 26px;
    font-family: "sora",sans-serif;
    color: rgb(134, 103, 119);
    margin-left: 2%;
    letter-spacing: 1px;
}
.course-place{
    font-size: 16px;
    font-family: "sora",sans-serif;
    color: rgb(88, 71, 71);
    margin-left: 2%;
    letter-spacing: 1px;
}
.edu-s{
    border: 1px white;
    background-color: rgb(247, 247, 247);
    margin-right: -40%;
    padding: 6% 6%;
    border-radius: 8px;
}
.edu-s:hover{
  color: white;
  background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
  border-radius: 8px;
  cursor: pointer;
}
.edu-s1{
    border: 1px white;
    background-color: rgb(247, 247, 247);
    margin-right: -40%;
    padding: 11% 6%;
    border-radius: 8px;
}
.edu-s1:hover{
    color: white;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    border-radius: 8px;
    cursor: pointer;
}
.edu-s:hover .edu-year{
    color: white;
}
.edu-s:hover .edu-name{
    color: white;
}
.edu-s:hover .edu-place{
    color: white;
}
.edu-s1:hover .course-name{
    color: white;
}
.edu-s1:hover .course-place{
    color: white;
}

#skill{
    margin-top: 54em;
}
.skills-title{
    text-align: center;
}
.skill-txt{
    position: relative;
    letter-spacing: 0.1em;
    font-size: 38px;
    font-family: "sora",sans-serif;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-weight: 600; 
}
.skill-txt::after{
    position: absolute;
    content: "";
    width: 2%;
    left: 17.2em;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.skill-txt:hover::after{
    opacity: 1;
    width: 15%;
    left: 15em;
}
.front-end{
    position: relative;
    letter-spacing: 0.1em;
    font-size: 26px;
    font-family: "sora",sans-serif;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-weight: 600; 
}
.front-end::after{
    position: absolute;
    content: "";
    width: 2%;
    left: 25.2em;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.front-end:hover::after{
    opacity: 1;
    width: 19%;
    left: 21em;
}

.front-endcon{
   padding-left: 14%;
}
.front{
    margin-top: 10%;
}
.front-endsec{
    font-size: 28px;
}

.icon i{
    font-size: 38px;
    padding: 8% 10%;
    margin-right: 8%;
    color: rgb(134, 103, 119);
}
.front-endsec:hover .icon i{
    background: linear-gradient(42deg, rgba(255,223,223,1) 0%, rgba(255,181,156,1) 100%);
    margin-right: 2.5em;
    padding: 8% 10%;
    cursor: pointer;
    opacity: .7;
}
.icon-img1{
    position: relative;
    left: 0.1em;
}
.icon-img3{
    position: relative;
    left: 0.1em;
}
.icon1 i{
    font-size: 38px;
    padding: 8% 10%;
    margin-left: -9%;
    margin-right: 8%;
    color: rgb(134, 103, 119);
}
.front-endsec:hover .icon1 i{
    background: linear-gradient(42deg, rgba(255,223,223,1) 0%, rgba(255,181,156,1) 100%);
    margin-right: 2.5em;
    padding: 8% 10%;
    cursor: pointer;
    opacity: .7;
}
.icon2 i{
    font-size: 38px;
    margin-left: 6%;
    padding: 6% 10%;
    margin-right: 8%;
    color: rgb(134, 103, 119);
}
.front-endsec:hover .icon2 i{
    background: linear-gradient(42deg, rgba(255,223,223,1) 0%, rgba(255,181,156,1) 100%);
    padding: 6% 12%;
    margin-left: 6%;
    margin-right: 1.8em;
    cursor: pointer;
    opacity: .7;
}
.icon3 i{
    font-size: 38px;
    padding: 6% 6%;
    margin-right: 8%;
    color: rgb(134, 103, 119);
}
.front-endsec:hover .icon3 i{
    background: linear-gradient(42deg, rgba(255,223,223,1) 0%, rgba(255,181,156,1) 100%);
    padding: 6% 6%;
    margin-right: 1.8em;
    cursor: pointer;
    opacity: .7;
}
.icon4 i{
    font-size: 38px;
    padding: 4% 8%;
    margin-left: 3%;
    margin-right: 8%;
    color: rgb(134, 103, 119);
}
.front-endsec:hover .icon4 i{
    background: linear-gradient(42deg, rgba(255,223,223,1) 0%, rgba(255,181,156,1) 100%);
    padding: 4% 8%;
    margin-right: 3.6em;
    cursor: pointer;
    opacity: .7;
}

.icon5{
    padding: 6% 10%;
    margin-right: 8%;
}
.front-endsec:hover .icon5{
    background: linear-gradient(42deg, rgba(255,223,223,1) 0%, rgba(255,181,156,1) 100%);
    padding: 6% 10%;
    margin-right: 2em;
    cursor: pointer;
    opacity: .7;
}
.icon6 i{
    font-size: 38px;
    padding: 8% 10%;
    margin-left: 20%;
    margin-right: 8%;
    color: rgb(134, 103, 119);
}
.front-endsec:hover .icon6 i{
    background: linear-gradient(42deg, rgba(255,223,223,1) 0%, rgba(255,181,156,1) 100%);
    margin-right: 2.5em;
    padding: 8% 10%;
    cursor: pointer;
    opacity: .7;
}
.icon7 i{
    font-size: 38px;
    padding: 8% 10%;
    margin-left: 10%;
    margin-right: 8%;
    color: rgb(134, 103, 119);
}
.front-endsec:hover .icon7 i{
    background: linear-gradient(42deg, rgba(255,223,223,1) 0%, rgba(255,181,156,1) 100%);
    margin-right: 2.5em;
    padding: 8% 10%;
    cursor: pointer;
    opacity: .7;
}
.icon8 i{
    font-size: 38px;
    padding: 8% 10%;
    margin-left: 6%;
    margin-right: 8%;
    color: rgb(134, 103, 119);
}
.front-endsec:hover .icon8 i{
    background: linear-gradient(42deg, rgba(255,223,223,1) 0%, rgba(255,181,156,1) 100%);
    margin-right: 2.5em;
    padding: 8% 10%;
    cursor: pointer;
    opacity: .7;
}
.icon9{
    margin-left: 12%;
    padding: 6% 10%;
    margin-right: 8%;
}
.front-endsec:hover .icon9{
    background: linear-gradient(42deg, rgba(255,223,223,1) 0%, rgba(255,181,156,1) 100%);
    padding: 6% 10%;
    margin-left: 12%;
    margin-right: 1.6em;
    cursor: pointer;
    opacity: .7;
}
.frontend-skill{
    margin-top: 10%;
    font-size: 16px;
    font-family: "sora",sans-serif;
    color: rgb(88, 71, 71);
    cursor: pointer;
}
.frontend-skill1{
    margin-top: 8%;
    font-size: 16px;
    font-family: "sora",sans-serif;
    color: rgb(88, 71, 71);
    cursor: pointer;
}
.frontend-skill2{
    margin-top: 10%;
    padding-left: 6%;
    font-size: 16px;
    font-family: "sora",sans-serif;
    color: rgb(88, 71, 71);
    cursor: pointer;
}
.skill-cat1{
    margin-top: 6%;
}
.back-endcon{
    padding-left: 36%;
 }
 .back{
     margin-top: 10%;
 }
 .back-endsec{
     font-size: 28px;
 }
 
 .back-icon1 i{
     font-size: 38px;
     margin-left: -10%;
     padding: 8% 6%;
     margin-right: 8%;
     color: rgb(134, 103, 119);
 }
 .back-endsec:hover .back-icon1 i{
    background: linear-gradient(42deg, rgba(255,223,223,1) 0%, rgba(255,181,156,1) 100%);
     margin-right: 2.5em;
     padding: 8% 6%;
     cursor: pointer;
     opacity: .7;
 }
 .icon i{
    font-size: 38px;
    padding: 8% 14%;
    margin-right: 8%;
    color: rgb(134, 103, 119);
}
.back-endsec:hover .icon i{
    background: linear-gradient(42deg, rgba(255,223,223,1) 0%, rgba(255,181,156,1) 100%);
    margin-right: 2.5em;
    padding: 8% 14%;
    cursor: pointer;
    opacity: .7;
}
.icon-img5{
    position: relative;
    left: 0.1em;
}
.back-endsec:hover .icon5{
    background: linear-gradient(42deg, rgba(255,223,223,1) 0%, rgba(255,181,156,1) 100%);
    padding: 6% 12%;
    margin-right: .6em;
    cursor: pointer;
    opacity: .7;
}
 .backend-skill{
    margin-top: 10%;
    font-size: 16px;
    font-family: "sora",sans-serif;
    color: rgb(88, 71, 71);
    cursor: pointer;
}
.backd{
    margin-top: 6%;
}
.backd-endcon{
    padding-left: 40%;
}
.tool-end{
    position: relative;
    letter-spacing: 0.1em;
    font-size: 26px;
    font-family: "sora",sans-serif;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-weight: 600; 
}
.tool-end::after{
    position: absolute;
    content: "";
    width: 2%;
    left: 25.2em;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.tool-end:hover::after{
    opacity: 1;
    width: 27%;
    left: 19em;
}


.Project-text{
    position: relative;
    margin-top: 10%;
  font-size: 30px;
  font-family: "sora",sans-serif;
  background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text;
  font-weight: 600;
}
.Project-text::after{
    position: absolute;
    content: "";
    width: 2%;
    left: 21.8em;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.Project-text:hover::after{
    opacity: 1;
    width: 15.2%;
    left: 19em;
}
.Project-table{
    position: absolute;
    width: 94%;
    left: 4%;
    margin-top: 4%;
}
.projecth{
    font-size: 16px;
    font-family: "sora",sans-serif;
    color: rgb(88, 71, 71);
    border-bottom: 1px solid black;
}
.projectr1{
    padding: 6% 0 6% 0;
}
.projectd1{
    font-size: 26px;
    font-family: "sora",sans-serif;
    color: rgb(88, 71, 71);
}
.projectl1 a{
    font-size: 16px;
    font-family: "sora",sans-serif;
    color: rgb(134, 104, 133);
    text-decoration: none;
    border-bottom: 1px solid rgb(134, 104, 133);
    line-height: 10%;
}
.projecti1 img{
    width: 40%;
    height: 12vh;
    margin-top: 10%;
}
#my-contacts{
    position: relative;
    margin-top: 64em;
}
.contact-text{
    position: relative;
    margin-top: 10%;
  font-size: 30px;
  font-family: "sora",sans-serif;
  background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text;
  font-weight: 600;
}
.contact-text::after{
    position: absolute;
    content: "";
    width: 2%;
    left: 21.8em;
    height: 6%;
    background: linear-gradient(to right, rgba(184,145,166,1) 0%, rgba(164,51,93,1) 100%); 
    transition: 0.6s ease-in-out;
    bottom:-20%;
}
.contact-text:hover::after{
    opacity: 1;
    width: 29%;
    left: 16em;
}
.contact-c{
    margin: 8% 14%;
    gap: 6%;
}
.map{
    width: 100%;
    height: 20vh;
}
.contact-s{
    margin-top: 4%;
}
.contact-box1{
    gap: 10%;
}
.contact-icon{
   padding: 6px 11px;
   font-size: 18px;
   border: 1px solid rgba(164,51,93,1);
   background: rgba(164,51,93,1);
   border-radius: 50%;
   color: white;
}
.contact-icon1{
    margin-bottom: 6px;
    padding: 6px 13px;
   font-size: 18px;
   border: 1px solid rgba(164,51,93,1);
   background: rgba(164,51,93,1);
   border-radius: 50%;
   color: white;
}
.contact-t{
    font-size: 16px;
    font-family: "sora",sans-serif;
    color: rgb(134, 104, 133);
}
.conemail a{
    text-decoration: none;
    color: rgb(134, 104, 133);
}
.conphn a{
    text-decoration: none;
    color: rgb(134, 104, 133);
}
.conlinkedin a{
    text-decoration: none;
    color: rgb(134, 104, 133);
}
.congit a{
    text-decoration: none;
    color: rgb(134, 104, 133);
}
.conaddress{
    line-height: 20px;
}
footer{
    width: 100%;
    height: auto;
    background: linear-gradient(16deg, rgba(241,197,221,1) 10%, rgba(140,113,128,1) 100%);
    margin-top: 10%;
}
.foot-logo{
    position: relative;
    padding-left: 35em;
}
.footlogotxt{
    position: absolute;
    top: 2.9em;
    left: 26em;
    letter-spacing: 0.3em;
    color: black;
}
.foot-list{
    position: relative;
    display: flex;
    list-style: none;
    gap: 8%;
    margin-top: 2%;
    left: 31%;
}
.foot-link{
    color: white;
    font-size: 18px;
    font-family: "sora",sans-serif;
    text-decoration: none;
}
.foot-sec-2{
    height: 6vh;
}
.foot-text2{
    font-family: "sora",sans-serif;
    font-size: 15px;
    color: #664049;
}
#totop{
    padding: 8px 14px;
    border-radius: 50%;
    background: linear-gradient(42deg, rgba(255,255,255,1) 10%, rgba(152,106,117,1) 100%);
    color: #743e4b;
    font-size: 26px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    right: 28px !important;
    bottom: 28px;
    z-index: 9999;
}


@keyframes pulsate{
    0%{
        transform: translate(-50%, -50%) scale(1);
    }
    50%{
        transform: translate(-50%, -50%) scale(1.05);
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes stroke{
    0%{
        stroke-dashoffset: 26%;
        stroke-dasharray: 0 50%;
        stroke-width: 1;
    }
    100%{
        stroke-dashoffset: 100%;
        stroke-dasharray: 100% 0;
        stroke-width: 1; 
    }
}


@media only screen and (max-width:1290px){
    .logotxt{
        left: 4.6em;
    }
}
@media only screen
and (max-width:1040px)
{
    .logo{
        margin-left: 5.6%;
        margin-top: 1em;
    }
    .fixed .logo{
        margin-top: 1.4em;
    }
    .logotxt{
        top: 1.8em;
        left: 5.8em;
    }
    .content-box{
        position: relative;
    }
    .profile-img{
        top: 18%;
    }
    .skill-txt::after{
        left: 12.6em;
    }
    .skill-txt:hover::after{
        width: 25%;
        left: 10em;
    }
    .front-end::after{
        left: 18.2em;
    }
    .front-end:hover::after{
        width: 29%;
        left: 14em;
    }
    .icon-img2{
        margin-top: .4%;
        left: 6.4em;
    }
    .icon-img4{
        left: 26.6em;
        margin-top: -.6%;
    }
    .front-endsec:hover .icon5{
        padding: 8% 10%;
        margin-right: 1.4em;
    }
    .front-endsec:hover .icon9{
        padding: 8% 10%;
        margin-right:1em;
    }
    .icon-img6{
        margin-top: -.2%;
        left: 15.6em;
    }
    .back-endsec:hover .icon5{
        padding: 10% 10%;
        margin-right: .2em;
    }
    .tool-end::after{
        left: 18.2em;
    }
    .tool-end:hover::after{
        width: 42%;
        left: 12em;
    }
    .Project-text::after{
        left: 16.2em;
    }
    .Project-text:hover::after{
        width: 21.2%;
        left: 13.4em;
    }
    .contact-text::after{
        left: 16.2em;
    }
    .contact-text:hover::after{
        width: 42%;
        left: 19.6em;
    }
    #my-contacts{
        margin-top: 78em !important;
    }
    .contact-c{
        margin: 8% 8%;
    }
    .foot-logo{
        padding-left: 30em;
    }
    .footlogotxt{
        top: 2em;
        left: 22.8em;
    }
}
@media only screen and (max-width:991px){
    .navbar-nav{
        width: 112%;
        height: auto;
        background-color: rgb(211, 184, 197);
        position: relative;
        left: -3em;
        padding-left: 6%;
        right: 0;
        z-index: 9999;
    }
    .fixed nav{
        height: 20vh;
    }
    .fixed .navbar-nav{
        background: transparent; 
        padding-left: 2%;
    }
    .navbar-toggler{
        top: 1.4em;
    }
    .fixed .navbar-toggler{
        top: 1.4em;
    }
    .logotxt{
        top: 1.3em;
        left: 2.2em;
    }
    .logo{
       width: 60%;
       position: relative;
       left: 18em;
    }
    .logo-img{
        width: 16%;
    }
    .contain-row {
        position: relative;
     }
    .profile-img{
      margin-top: -20%;
    }
    .cont-links{
        flex-wrap: wrap;
    }
    .links{
        position: relative;
        margin-top: 4%;
        left: -6%;
    }
    .edu-s{
        margin-right: -2%;
        padding: 4% 6%;
    }
    .course-selection{
        margin-top: 6%;
    }
    .edu-s1{
        margin-right: -2%;
        padding: 6% 6%;
    }
    #skill{
        margin-top: 92em;
    }
    .skill-txt::after{
        left: 11.2em;
    }
    .skill-txt:hover::after{
        width: 22.5%;
        left: 9em;
    }
    .front-end::after{
        left: 16.2em;
    }
    .front-end:hover::after{
        width: 29%;
        left: 12em;
    }
    .front-endsec:hover .icon5{
        margin-right: 0.6em;
    }
    .icon9{
        margin-left: 1em;
    }
    .front-endsec:hover .icon9{
        margin-left: 1em;
        margin-right: -0.1em;
    }
    .icon-img5{
        margin-left: -1em;
    }
    .back-endsec:hover .icon5{
        margin-left: -1.2em;
       padding-left: 1.2em;
    }
    .backend-txt2{
       margin-left: -2em;
    }
    .tool-end::after{
        left: 16.2em;
    }
    .tool-end:hover::after{
        width: 42%;
        left: 10em;
    }
    .Project-text::after{
        left: 14.2em;
    }
    .Project-text:hover::after{
        width: 21.2%;
        left: 11.6em;
    }
    #my-contacts{
        position: relative;
        margin-top: 52em !important;
    }
    .contact-text::after{
        left: 14.2em;
    }
    .contact-text:hover::after{
        width: 42%;
        left: 8.6em;
    }
    .contact-c{
        flex-wrap: wrap;
    }
    .contact-s{
        margin-top: 18em;
    }
    .foot-logo{
        position: relative;
        padding-left: 22em;
    }
    .footlogotxt{
        top: 2em;
        left: 17.3em;
    }
    .foot-list{
        margin-top: 2%;
        left: 22%;
    }
    .foot-text2{
       padding-left: 8%;
    }
}
@media only screen and (max-width:921px){
    #my-contacts{
        margin-top: 78em !important;
    }
}
@media only screen and (max-width:782px){

    .profile-img{
        margin-top: 10%;
    }
    .my-edu{
        margin-top: 14%;
    }
    .skill-txt::after{
        left: 9.6em;
    }
    .skill-txt:hover::after{
        width: 24.5%;
        left: 7.6em;
    }
    .front-end::after{
        left: 14.2em;
    }
    .front-end:hover::after{
        width: 32%;
        left: 10em;
    }
     .tool-end::after{
        left: 13.2em;
    }
    .tool-end:hover::after{
        width: 48%;
        left: 7.8em;
    }
    .Project-text::after{
        left: 12.2em;
    }
    .Project-text:hover::after{
        width: 25.2%;
        left: 9.6em;
    }
    .contact-text::after{
        left: 12.2em;
    }
    .contact-text:hover::after{
        width: 48%;
        left: 6.6em;
    }
     .footlogotxt{
        top: 1.7em;
    }
}
@media only screen and (max-width:580px){
    .navbar-nav{
        margin-top: 2%;
        left: -1em;
       
    }
    .logotxt{
       top: 1em;
        left: 1.9em;
    }
    .logo{
       left: 12em;
    }
   .content-box{
    margin-top: 1%;
   }
   .content-about{
    margin-top: 82%;
   }
   .contain-row {
      position: relative;
   }
   .profile-img{
     position: absolute;
     top: 30%;
     left: 10%;
   }
   .profile{
     height: 340px;
   }
   .links{
      margin-left: 8%;
    }
   .social{
     margin-top: -0.4em;
    }
    .skill-txt::after{
        left: 6.6em;
    }
    .skill-txt:hover::after{
        width: 36.5%;
        left: 4.6em;
    }
    .front-end::after{
        left: 10.2em;
    }
    .front-end:hover::after{
        width: 50%;
        left: 5.2em;
    }
    .front-endsec{
        padding-left: 28%;
    }
    .front-e-s{
        padding-left: 36%;
    }
    .icon2 i{
        padding: 8% 10%;
    }
    .front-endsec:hover .icon2 i{
        padding: 8% 10%;
    }
    .icon i{
        padding: 8% 10%;
    }
    .front-endsec:hover .icon i{
        padding: 8% 10%;
    }
    .front-e-s1{
        padding-left: 32%;
    }
    .front-e-s2{
        padding-left: 27%;
    }
    .front-e-s3{
        padding-left: 32%;
    }
    .front-e-s4{
        padding-left: 30%;
    }
    .front-e-s5{
        padding-left: 31%;
    }
    .front-endsec:hover .icon5{
        margin-right: 7.7em;
    }
    .front-e-s6{
        padding-left: 14%;
    }
    .icon6 i{
        padding: 8% 8%;
    }
    .front-endsec:hover .icon6 i{
        padding: 8% 8%;
    }
    .front-e-s7{
        padding-left: 24%;
    }
    .front-e-s9{
        padding-left: 24%;
    }
    .front-endsec:hover .icon9{
        margin-right: 7.6em;
    }
    .front-skill1{
        padding-left: 6%;
    }
    .front-skill2{
        padding-left: 8%;
    }
    .front-skill3{
        padding-left: 4%;
    }
    .front-skill4{
        padding-left: 6%;
    }
    .front-skill5{
        padding-left: 14%;
    }
    .front-skill6{
        padding-left: 12%;
    }
    .front-e-s10{
        padding-left: 16%;
    }
    .back-skill1{
        margin-left: -1%;
    }
    .front-e-s11{
        padding-left: 6%;
    }
    .front-e-s12{
        padding-left: 10%;
    }
    .back-endsec:hover .icon5{
        margin-right: 7.6em;
    }
    .tool-end::after{
        left: 10.2em;
    }
    .tool-end:hover::after{
        width: 68%;
        left: 3.6em;
    }
    .front-e-s13{
        padding-left: 20%;
    }
    .front-e-s14{
        padding-left: 8%;
    }
    .back-skill2{
        margin-left: -2%;
    }
    .Project-text::after{
        left: 8.8em;
    }
    .Project-text:hover::after{
        width: 36.2%;
        left: 6em;
    }
    .Project-table{
        width: 96%;
        margin-top: 6%;
    }
    .projectd1{
        font-size: 20px;
    }
    .contact-text::after{
        left:  8.8em;
    }
    .contact-text:hover::after{
        width: 68.2%;
        left: 3em;
    }
    .g-map{
        width: 390px;
    }
    .foot-list{
        margin-top: 2%;
        left: 0;
    }
    .foot-logoimg{
        width: 16%;
    }
    .foot-logo{
        padding-left: 14em;
    }
    .footlogotxt{
        left: 12.2em;
        top: 1.9em;
    }
}

@media only screen and (min-width:400px)
and (max-width:460px) {

    .navbar-toggler{
        left: 0.6em;
    }
    .logotxt{
        left: 1.9em;
        top: 1.2em;
     }
     .logo{
        width: 60%;
        left: 9em;
     }
     .logo-img{
        width: 26%;
     }
    .content-about{
     margin-top: 96%;
    }
    .profile-img{
        top: 34%;
    }
    .links{
        margin-left: 0;
    }
    .social{
        margin-top: -0.1em;
    }
    #skill{
        margin-top: 82em;
    }
    .skill-txt::after{
        left: 5.2em;
    }
    .skill-txt:hover::after{
        width: 44%;
        left: 3em;
    }
    .front-end::after{
        left: 7.6em;
    }
    .front-end:hover::after{
        width: 62%;
        left: 3em;
    }
    .front-endsec:hover .icon5{
        margin-right: 5em;
    }
    .front-endsec:hover .icon9{
        margin-right: 5em;
    }
    .back-endsec:hover .icon5{
      
        margin-right: 5.7em;
    }
    .tool-end::after{
        left: 7.8em;
    }
    .tool-end:hover::after{
        width: 88%;
        left: .8em;
    }
    .Project-text::after{
        left: 6.8em;
    }
    .Project-text:hover::after{
        width: 42.8%;
        left: 4em;
    }
    .contact-text::after{
        left:  6.8em;
    }
    .contact-text:hover::after{
        width: 88.2%;
        left: 1em;
    }
    .g-map{
        width: 320px;
    }
    .foot-logoimg{
        width: 20%;
    }
    .foot-logo{
        padding-left: 10em;
    }
    .footlogotxt{
        left: 9.4em;
    }
    .foot-list{
        gap: 4%;
        left: -1em;
    }
    .foot-link{
       font-size: 16px;
    }
}
@media only screen
and (max-width:394px){
    .logotxt{
        top: 1em;
    }
    .logo-img{
        width: 24%;
    }
     .logo{
        width: 58%;
        left: 7em;
    }
    .content-title{
        font-size: 52px;
    }
    .content-about{
        margin-top: 128%;
    }
    .skill-txt::after{
        left: 4.6em;
    }
    .skill-txt:hover::after{
        width: 46%;
        left: 2.6em;
    }
    .front-end::after{
        left: 7em;
    }
    .front-end:hover::after{
        width: 66%;
        left: 2.4em;
    }
    .front-endsec:hover .icon5{
        margin-right: 4.7em;
    }
    .front-endsec:hover .icon9{
        margin-right: 4.2em;
    }
    .back-endsec:hover .icon5{
        margin-right: 5em;
    }
    .Project-text::after{
        left: 6em;
    }
    .Project-text:hover::after{
        width: 50.8%;
        left: 3em;
    }
    .g-map{
        width: 280px;
    }
    .foot-list{
        gap: 2%;
        margin-top: 4%;
        left: -1em;
        flex-wrap: wrap;
    }
    .foot-logo{
        padding-left: 7em;
    }
    .footlogotxt{
        margin-top: -.3em;
        left: 7em;
    }
}
@media only screen and (min-width:320px)
and (max-width:366px){
    .logo-img{
       width: 32%;
    }
    .content-title{
        font-size: 50px;
    }
    .profile-img{
        margin-top: -6%;
       left: 1%;
    }
    .content-about{
        width: 98%;
        margin-top: 156%;
    }
    #skill{
        margin-top: 90em;
    }
    .front-endsec:hover .icon5{
        margin-right: 3em;
    }
    .front-endsec:hover .icon9{
        margin-right: 3em;
    }
    .back-endsec:hover .icon5{
        margin-right: 4em;
    }
    .Project-table{
        left: 2%;
    }
    .g-map{
        width: 240px;
    }
    .contact-s{
        margin-left: -10%;
    }
    .contact-box1{
        column-gap: 4%;
    }
    .foot-logoimg{
        width: 22%;
     }
    .foot-logo{
        padding-left: 5em;
    }
    .footlogotxt{
        left: 5.6em;
    }
    .foot-list{
       flex-wrap: wrap;
    }
    .footlink{
        margin-left: 2em;
    }
    .footlink1{
        margin-left: 4em;
    }
}
